
{{ 'section-product-quiz.css' | asset_url | stylesheet_tag }}

{{ 'section-main-quiz.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
      background-color: #f5d6dd;
  }

  .section-{{ section.id }}-padding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 342px;
    min-height:750px;
  }



  @media screen and (min-width:640px) {
    .section-{{ section.id }}-padding {
      display: flex;
      flex-direction: column;
      justify-content: start;
      max-width: 1128px;
      padding-top: 110px;
      padding-bottom: 342px;
    }
  }
  @media all and (min-width:1200px){
    .section-{{ section.id }}-padding {
        min-height:700px;
    }
  }
{% endstyle %}

<div class="page-width section-{{ section.id }}-padding">
  <div class="quiz">

    <div id="intro" class="step">
      <h1 class="quiz-intro__title block">
        <span class="uppercase text-title-pink font-bold text-[30px] md:text-[50px] block">{{ section.settings.intro_header1 }}</span>
        <span class="uppercase font-bold text-secondary-pink text-[30px] md:text-[50px]">{{ section.settings.intro_header2 }}</span>
      </h1>
      <p class="quiz-text text-primary-pink text-[15px]">{{ section.settings.intro_text }}</p>
     
      <button id="startBtn" class="pink-btn">GET STARTED</button>
    </div>

    <div class="progress-indicator">
      <span class="pill pill-hide"></span>
      <span class="pill active"></span>
      <span class="pill"></span>
      <span class="pill"></span>
      <span class="pill"></span>
    </div>

    <!-- Step 1 -->
    {% assign all_quizzes = shop.metaobjects.quiz.values %}

    <div id="step1" class="step">
      {% for quiz in all_quizzes %}
        {% if quiz.steps == 1 %}
          <div class="quiz-question">{{ quiz.question }}</div>
          <small class="quiz-text-subheader">Select all that apply</small>
          <div class="quiz-answers">
            <div class="image-labels">                
            {% for image in quiz.answer_image.value %}
                <label class="image-label">
                  <input type="checkbox" name="step1-answer" class="checkbox-input">
                  {{ image | image_url: width: 100 | image_tag: alt:"choose answer", class: 'img-for-label' }}
                </label>
              {% endfor %} 
            </div>
            <div class="quiz-answer-label">
              {% assign count = quiz.answer_to_question.value.size | minus: 1 %}
              {% for i in (0 .. count) %}    
                <small class="quiz-small-text">{{ quiz.answer_to_question.value[i] }}</small> 
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <div class="quiz-buttons">
        <button type="button" id="prevBtn1" class="prevBtn white-btn">go back</button>
        <button type="button" id="nextBtn1" class="nextBtn pink-btn">Next</button>
      </div>
      <div class="quiz-restart">
        Restart quiz
      </div>
    </div>

    <!-- Step 2 -->
    <div id="step2" class="step">
      {% for quiz in all_quizzes %}
        {% if quiz.steps == 2 %}
          <div class="quiz-question">{{ quiz.question }}</div>
          <small class="quiz-text-subheader">Select all that apply</small>
          <div class="quiz-answers">
            <div class="image-labels">

            {% for image in quiz.answer_image.value %}
              
                <label class="image-label">
                  <input type="checkbox" name="step2-answer" class="checkbox-input">
                  {{ image | image_url: width: 100 | image_tag: alt:"choose answer", class: 'img-for-label' }}
                </label>
              {% endfor %} 
            </div>
            <div class="quiz-answer-label">
              {% assign count = quiz.answer_to_question.value.size | minus: 1 %}
              {% for i in (0 .. count) %}    
                <small class="quiz-small-text">{{ quiz.answer_to_question.value[i] }}</small> 
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
        <div class="quiz-buttons">
          <button type="button" class="prevBtn white-btn">go back</button>
          <button type="button" class="nextBtn pink-btn">Next</button>
        </div>
      <div class="quiz-restart">
        Restart quiz
      </div>
    </div>

    <!-- Step 3 -->
    <div id="step3" class="step">
      {% for quiz in all_quizzes %}
        {% if quiz.steps == 3 %}
    
          <div class="quiz-question">{{ quiz.question }}</div>
          <small class="quiz-text-subheader">Select all that apply</small>
          <div class="quiz-answers_no-image">
            <div class="quiz-answer-label__no-image">
              {% assign count = quiz.answer_to_question.value.size | minus: 1 %}
              {% for i in (0 .. count) %}
                <label class="label__no-image">
                  <input type="checkbox" name="step3-answer{{ i }}" id="step3-answer{{ i }}" class="checkbox-input__no-image">
                  <small>{{ quiz.answer_to_question.value[i] }}</small> 
                </label>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="quiz-buttons">
        <button type="button" class="prevBtn white-btn">go back</button>
        <button type="button" class="nextBtn pink-btn">get your results</button>
      </div>
      <div class="quiz-restart">
        Restart quiz
      </div>
    </div>
    
    <!-- Result -->
    <div id="result" class="step">
      <div class="quiz-question">Your Suggested products</div>
      <small class="quiz-text-subheader">usce gravida cursus arcu, imperdiet placerat neque mollis ut. In hac habitasse platea dictumst. Cras aliquet eros vel augue convallis.</small>

      {% assign results = "kinky-coily|boosting-curl-jelly" | split: "|" %}

      <div class="quiz-result" style="display:flex">
        {% for result in results %}
          <div class="result-card">
            <div class="result-image">
              <img src="{{ all_products[result].featured_image | image_url }}" alt="image" width="200" height="300"> 
            </div>
            <div class="result-detail">
              <p>{{ all_products[result].title }}</p>
              <p>{{ all_products[result].price | money }}</p>
            </div>
            <button type="button" class="pink-btn result-cart-btn">ADD TO CART</button>
          </div>
        {% endfor %}
      </div>
  
      <a href="/">
        <button type="button" id="exit" class="quiz-restart white-btn">
          exit
        </button>
      </a>
    </div>
  </div>
</div>
  
<script src="{{ 'quiz.js' | asset_url }}" defer ></script>


{% schema %}
{
  "name": "Product quiz",
  "tag": "div",
  "settings": [
      {
        "id": "intro_header1",
        "type": "text",
        "label": "top header for intro page"
      },
      {
        "id": "intro_header2",
        "type": "text",
        "label": "bottom header for intro page"
    },
    {
      "id": "intro_text",
      "type": "text",
      "label": "Intro text for the intro page"
    }

  ]
}
{% endschema %}
